{% include 'tugas1_crowdFunding/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 style="text-align:center; font-family:Slabo+13px">Berhasil Registrasi!</h1>
    <br>
    <h3 style="text-align:center; font-family:Slabo+13px">Anda sekarang dapat melakukan donasi1!</h3>
    <br>
    <div>
        <a class="btn btn-primary" href="/">Kembali ke menu Awal</a>
        <a class="btn btn-primary" href="/programs/">Cari program donasi yang tersedia</a>
    </div>
</div>
{% endblock content %}
{% include 'tugas1_crowdFunding/footer.html' %}