{% include 'tugas1_crowdFunding/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 style="text-align:center; font-family:Slabo+13px">Registrasi Error!</h1>
    <br>
    <h3 style="text-align:center; font-family:Slabo+13px">E-mail yang anda masukkan sudah terdaftar</h3>
    <br>
    <a class="btn btn-primary" href="/registrasi/">Kembali ke form registrasi</a>
</div>

{% endblock content %}
{% include 'tugas1_crowdFunding/footer.html' %}