{% include 'tugas1_crowdFunding/base.html' %}
{% load static %}
{% block content %}
    <div class="center">
        {% if user.is_authenticated %}
            <p class="display-4">Hello, {{ user.username }}</p>
        {% else %}
        <h1 class="text-center">Registrasi</h1>
        <hr>
        <div class="container-fluid form-group" style="background-color:whitesmoke; min-width: 350px; max-width: 350px; min-height: 540px; max-height: 540px; border-style: solid; border-width: 3px; border-color: #019aa0; border-radius: 10px; font-family: Raleway">
            <br>
            <h4>Hai! Selamat datang di PojokBelakang!</h4>
            <h4>Ayo bantu saudara kita!</h4>
            <a href="{% url 'social:begin' 'google-oauth2' %}">or Login with Google</a><br>
        </div>
        {% endif %}
    </div>

{% endblock content %}
{% include 'tugas1_crowdFunding/footer.html' %}
