{% extends 'tugas1_crowdFunding/base.html' %}
{% load static %}
{% block script %}
<script>
var commentbox = [];
var lastLoad = 0;
function getComments(bool) {
    if (!bool) {
        $.get("/about/api/", function(data){
            console.log("MASUK AJAX")
            var komentar = data.comments;
            for (lastLoad; lastLoad < komentar.length; lastLoad++) {
                console.log(lastLoad);
                commentbox.push("<blockquote class='blockquote'><p>" + komentar[lastLoad].comment + "</p><footer class='blockquote-footer'>" + komentar[lastLoad].name + "</footer></blockquote><hr>")
            }
            $(".comment").append($(commentbox.join('')));
        });
    } else {
        $.get("/about/api/", function(data) {
            var komentar = data.comments;
            $(".comment").append("<blockquote class='blockquote'><p>" + komentar[komentar.length-1].comment + "</p><footer class='blockquote-footer'>" + komentar[komentar.length-1].name + "</footer></blockquote><hr>")
        })
    }
    
}
$(function() {
    var csrftoken = Cookies.get('csrftoken');
    getComments(false)

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $("#comment-form").on("submit", function(event){
        event.preventDefault()
        console.log("Masuk Button");

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $.post("/about/",{
            "name" : $("#id_name").val(),
            "comment" : $("#id_comment").val(),
        } ,function(data) {
            setTimeout(function() {
                getComments(true);
            }, 1000);
        })
    });
});


</script>
{% endblock script %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="sticky-top" style="padding-top:76px;">
            <h1>
                <strong>About PojokBelakang</strong>
            </h1>
            <hr>
            <p>
                Kita adalah orang-orang yang peduli dan empati terhadap masyarakat yang terkena musibah.
                Kami ingin membantu orang-orang tersebut untuk memenuhi kebutuhan mereka.
                Makanan. Minuman. Tempat tinggal. Uang. Semua bentuk akan mereka terima.
            </p>
            <p>
                Kami hanya ingin memenuhi tugas kami sebagai mahkluk hidup.
                Membantu, dan menjaga semua yang terkena musibah, ataupun keburukan.
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>
            Apa kata mereka....
        </h2>
        <hr>
        <div class="comment">
            
        </div>
        {% if user.is_authenticated %}
        <form id="comment-form" action="" method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.comment }}
            <input id="submitbutton" class="btn btn-primary" type="submit" value="Submit">
        </form>
        {% else %}
        <p>Login to give us testimonies...</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block footer %}
{% include 'tugas1_crowdFunding/footer.html' %}
{% endblock footer %}