<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ title }} | Pojok Belakang</title>

		<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Raleway|Slabo+13px" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->
		<link rel="stylesheet" href="{% static 'css/stylev2.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		{% block stylesheet %}
		{% endblock stylesheet %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
				<a href="{% url 'tugas1_crowdFunding:index' %}" class="navbar-brand">
					<img src="{% static 'images/logofixed.png' %}" style="max-height:50px;">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'tugas1_crowdFunding:index' %}"><h4>Home</h4></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'program_donasi:programs' %}"><h4>Programs</h4></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about_page:about_page' %}"><h4>About Us</h4></a>
						</li>
					</ul>
					{% if user.is_authenticated %}
					 <p class="display-4">Hello, {{ user.username }}</p>
					<a class="btn btn-info navbar-right navbar-btn" href="/profile/" id="register-button" style="margin-right: 10px"><h4>My Profile</h4></a>
			        {% else %}
					<a class="btn btn-info navbar-right navbar-btn" href="/login/" id="register-button"><h4>Register</h4></a>
					{% endif %}
				</div>
			</nav>
		</header>
		{% block background %}
		{% endblock background %}
		<div class="container-fluid">
			{% block content %}
			{% endblock content %}
		</div>
	</body>
	{% block footer %}
	{% endblock footer %}

	{% block script %}
	{% endblock script %}
</html>
