{% block footer %}
<footer class="bg-primary container-fluid">
	<div class="row">
		<div class="col-md-6 mt-md-3 mt-3 ml-md-0">
			<strong>About the company</strong>
			<p>PojokBelakang membantu korban bencana alam dan terbelakang menemukan donatur yang bersedia membantu</p>
		</div>

		<div class="col-md-3 mt-md-3 mb-md-0 mb-3 mr-md-0">
			<ul class="list-unstyled">
				<li>
					<a class="ic">
						<i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3"></i>
					</a>
					<p>@pojokbelakang</p>
				</li>
				<br>
				<li>
					<a class="ic">
						<i class="fas fa-mobile fa-lg white-text mr-md-5 mr-3"></i>
					</a>
					<p>089634517819</p>
				</li>
			</ul>
		</div>

		<div class="col-md-3 mt-md-3 mb-md-0 mb-3 mr-md-0">
			<ul class="list-unstyled">
				<li>
					<a class="ic">
						<i class="far fa-envelope fa-lg white-text mr-md-5 mr-3"> </i>
					</a>
					<p>pojokbelakang@gmail.com</p>
				</li>
				<br>
				<li>
					<a class="ic">
						<i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3"> </i>
					</a>
					<p>@pojokbelakang</p>
				</li>
			</ul>
		</div>
	</div>
</footer>
{% endblock footer %}
