{% extends 'tugas1_crowdFunding/base.html' %}
{% block background %}
<img src="https://nextrends.swissnexsanfrancisco.org/wp-content/uploads/2012/07/CrowdfundingPhoto-1728x800_c.jpg" class="img-fluid">
{% endblock background %}

{% block content %}
            <h1 class="text-center jumbotron">News</h1>
            {% if news_list %}
                {% for news in news_list %}
                {% if forloop.counter|divisibleby:3 or forloop.first %}
                <div class="row justify-content-around">
                {% endif %}
                <div class="card text-center" style="width:300px;">
                    <img class="card-img-top" src="{{ news.foto }}" alt="{{ news.judul }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ news.judul }}</h4>
                        <p class="card-text">{{ news.isi_berita|truncatechars:50 }}</p>
                        <a href="/news/{{ news.id }}" class="btn btn-primary">Baca Berita</a>
                    </div>
                </div>
                {% if forloop.last %}
                </div>
                {% elif forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
{% endblock content %}

{% block footer %}
{% include 'tugas1_crowdFunding/footer.html' %}
{% endblock footer %}

