{% extends 'tugas1_crowdFunding/base.html' %}
{% block content %}
    <div class="">
      <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ news_content.judul }}</h1>
            <hr>
            <img class="img-fluid img-thumbnail" src="{{ news_content.foto }}" alt="{{ news_content.judul }}">
            <p>{{ news_content.isi_berita|linebreaks }}</p>
        </div>
      </div>
      <div class="row">
          {% for program in programs %}
          <div class="col-sm-4" style="margin-top:20px;">
            <div class="card bg-primary" style="width:350px;">
              <img src={{ program.image_url }} class="img-responsive card-img-top" style="width:100%;height:200px;">
              <div class="card-body">
                <h4 class="card-title">{{ program.title }}</h4>
                <a href="{% url 'program_detail:prog_detail' program.pk %}" class="btn btn-primary">See Details</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% include 'tugas1_crowdFunding/footer.html' %}
{% endblock footer %}