{% extends 'tugas1_crowdFunding/base.html' %}
{% block content %}
    <div class="text-center">
      <div class="">
        <h1>Our Programs</h1>
        <hr>
      </div>
      <div class="row">
        {% if programs %}
        {% for i in programs %}
        <div class="col-sm-3" style="margin-top:20px;">
          <div class="card">
            <img class="img-responsive img-fluid card-img-top" src="{{ i.image_url }}" alt="{{ i.title }}" style="width:100%;height:200px;">
            <div class="card-body">
              <h4 class="card-title">{{ i.title }}</h4>
              <p class="card-text">{{ i.desc|truncatechars:50 }}</p>
              <a href="{% url 'program_detail:prog_detail' i.pk %}" class="btn btn-info">See Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h1>There is no programs at this moment. Come back later!</h1>
        {% endif %}
      </div>
    </div>

{% endblock content %}
{% block footer %}
{% include 'tugas1_crowdFunding/footer.html' %}
{% endblock footer %}