{% extends 'tugas1_crowdFunding/base.html' %}

{% block script %}
	<script>
		$("#donate_button").click( function() {
			if (document.getElementById("form_jumlah").value !== "") {
				$.ajax({
					type: "POST",
					url: '{% url 'program_detail:donate' prog.pk %}',
					data: {
						'jumlah': document.getElementById("form_jumlah").value,
						'anon': $("#form_anon").is(":checked"),
						'csrfmiddlewaretoken': '{{csrf_token}}',
					},
					dataType: 'json',
					success: function (data) {
						if (!data.authenticated) {
							alert('Anda belum login!');
						} else {
							$("#form_jumlah").val("");
							alert('Berhasil melakukan donasi');
						}
					}
				});
			} else {
				alert("jumlah yang anda masukkan salah")
			}
		});
	</script>
{% endblock %}

{% block content %}
<div class="">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>{{ prog.title }}</h1>
			<hr>
			<img src="{{ prog.image_url }}" class="img-fluid img-thumbnail">
			<br>
			<br>
			<h4>{{ prog.desc|linebreaks }}</h4>
		</div>
	</div>
</div>

	<div class="col-sm-4">
		<div class="border">
			<form method="POST" class="form-group">
				{% csrf_token %}
				{{ form.jumlah }}
				{{ form.anon }} Donate as anonim
				<br>
				<br>
				<div class="mx-auto">
					<button class="btn btn-primary" id="donate_button" type="button"><h3>Donate</h3></button>
				</div>
			</form>
		</div>
		<br>
		<br>
		<div class="border">
			{% for donat in donatur %}
				{% if prog == donat.program %}
					{% if donat.anon is False %}
						<h4>{{ donat.nama }}</h4>
					{% else %}
						<h4>Donat Anonim</h4>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
{% include 'tugas1_crowdFunding/footer.html' %}
{% endblock footer %}