h1, h2{
  font-family: 'Slabo 13px', serif;
}

h3, h4, p{
  font-family: 'Raleway', sans-serif;
}

.left{
  text-align: left;
}

.center{
    text-align: center;
}

.btn{
  border-radius: 8px;
  border: 1px solid white;
}

.header-right{
  position: absolute;
  right: 5%;
}

header{
  position: fixed;
  width: 100%;
  height: 85px;
  padding-left: 80px;
  padding-right: 80px;
  background: #019aa0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 99;
  top: 0;
}

.logo-header{
    height: 280%;
}

footer{
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #019aa0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 99;
}


/*BAGIAN ISI*/

.container{
  padding-top: 6%;
  padding-bottom: 7%;
  width: 90%;
  text-align: center;
}

.prog-img{
  width: 100%;
}

.border{
  border: 3px solid #019aa0;
  border-radius: 25px;
  padding: 10%;
}

.form-control{
  margin-bottom: 25px;
  border-radius: 10px;
  height: 50px;
  border: 2px solid #0186d8;
}

.navbar .navbar-collapse .navbar-nav li{
    list-style: none;
}

.navbar h3{
    margin-top: 10px;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    text-decoration: none;
}

footer a{
    color: white;
}

footer a .fa{
    color: black;
}

footer a:hover{
    text-decoration: none;
    color: #0186d8;
}
