{% extends 'tugas1_crowdFunding/base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="container">
      <div class="col-md-6 left">
          <h2> Email : {{ profile.email }}</h2>
          <h2> Nama : {{ profile.name }}</h2>
      </div>
      <div class="col-md-6 left">
          <table class="table m-0">
              <thead>
                  <tr>
                      <th>Anda telah berdonasi untuk</th>
                      <th>Sebanyak</th>
                  </tr>
              </thead>
              <tbody>
                {% for donas in donasi %}
                <tr>
                  <td> {{ donas.title }} </td>
                  <td> {{ donas.jumlah }} </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      <br>
        <br>
      <a class="btn btn-info navbar-right navbar-btn" href="/logout/" id="register-button"><h4>Logout</h4></a>
    </div>
</div>
{% endblock content %}
